@import "variables";
@import "bootstrap";
@import "modules/ember-url-compare";

a.active {
  text-decoration: underline;
}

.panel-heading a {
  color: white;
}

.question-mark {
  float: left;
  position: absolute;
}
