<div class="page-header">
  <h1>Ember.js URLs finally explained <small>(hopefully)</small></h1>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="jumbotron">
      <p>Ever wondered what are all those parts of URL good for?</p>
      <hr />
      <p class="text-right">
        {{#link-to "url" class="btn btn-primary btn-lg" role="button"}}
          Visualize
          {{fa-icon "chevron-circle-right"}}
        {{/link-to}}
      </p>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="jumbotron">
      <p>Have two URLs and want to find out the difference between them?</p>
      <hr />
      <p class="text-right">
        {{#link-to "compare" class="btn btn-primary btn-lg" role="button"}}
          Compare
          {{fa-icon "chevron-circle-right"}}
        {{/link-to}}
      </p>
    </div>
  </div>
</div>
