<h1>Ember.js URL parser</h1>
<p>
  Ever wondered what is this Ember.js about? Why are there so many strange symbols? Why is there part which looks like standard server side query string, but isn't? This site brings basic information about these and how do they fit into Ember world.
</p>

<p>
  Main motivation here was to have some handy tool for examining contents of generated URL. It might be long, it might contain encoded fragments, it is written in one line in address bar, etc. This tool might help you.
</p>

<p>
  <a href="https://github.com/MichalBryxi/ember-url-parser">GitHub project</a>
</p>
