<div class="row">
  <div class="col-xs-12">
    <form class="form-horizontal">
      <div class="input-group">
        <span class="input-group-addon">URL:</span>
        {{input class="form-control" id="url" placeholder="http://..." value=model.url}}
        <span class="input-group-btn">
          <button class="btn btn-primary" {{action "addRecord"}}>
            {{fa-icon "plus-square"}}
            Save
          </button>
        </span>
      </div>
    </form>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-xs-12">
    {{ember-url-visualizer url=model.url}}
  </div>
</div>
